body {
  background-color: bisque;
}

@media (max-width: 575px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}
.row {
  margin-left: 1rem;
  margin-right: 1rem;
}
.col {
  padding-left: 1rem;
  padding-right: 1rem;
}
img.logo {
  width: 2rem;
  height: auto;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.pokemonDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.imageContainer {
  width: 70vw;
}

@media (min-width: 992px) {
  .pokemonDetailsContainer {
    flex-direction: row;
    padding: 10px 5vw;
  }

  .imageContainer {
    flex: 1 1 auto;
    width: unset;
  }

  .detailsContainer {
    flex: 1.5;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 80%;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 44px;
  row-gap: 15px;
  width: 100%;
  background-color: cornsilk;
}

.cardContainer:hover {
  background-color: burlywood;
}

.cardDetailsContainer {
  display: flex;
  flex-direction: row;
  min-width: 220px;
}

@media (min-width: 768px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  /* .cardContainer {
  } */
}

.sprite {
  width: 100%;
}
/* @media (min-width: 768px) {
  .sprite {
    width: 30%;
  }
} */
